
body{
    background:#f1ecda;
    padding:0;
    margin:0;
}

.container{
    display:flex;
    gap: 25rem
}

.right{
    display:flex;
    flex-direction:column;
    padding: 24px;
    margin-left: 50px;
    text-align:center;
    margin-right:-80px;
    

}

.image-container{
    
    display:flex;
    width: 300px; /* Adjust the width to control the length of the semi-circle */
    height:325px; /* Height of the semi-circle */
    background-color: #36261e; 
    border: #36261e;/* Background color of the semi-circle */
    border-top-left-radius: 150px; /* Top left corner radius to create the semi-circle */
    border-top-right-radius: 150px;
    align-items:center;
    justify-content:center;
    margin-left:40px;

    background-image: url("https://media.istockphoto.com/id/1051202402/photo/portrait-of-smiling-businessman-holding-tablet-and-making-ok-sign.jpg?s=612x612&w=0&k=20&c=kyiOeGPmI2aPzK9V1WY7ZTABtEQi5nvm12hcz3ccmc0="); /* URL of your image */
    background-size: cover; /* Scale the image to cover the entire shape */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-position: center; 
    transition: backdrop-filter 0.5s ease;

}

.role,.title{
    display:flex;
    flex-direction:column;
    
  
    
    font-family:Gilda Display, Inter;
    color:#927666
}

.email{
    margin:48px;
}

.socials{
    display:flex;
    gap: 2rem;
    margin-left:-36px;
    justify-content:center;
}


.left{
    display:flex;
    flex-direction:column;
    padding: 24px;
    margin-right: 150px;
    text-align:center;
    margin-top:150px
}
.about-me{
    display:flex;
    justify-content:center;
    margin-bottom: 110px;
    padding:24px;
    margin-top:-65px;
    
    color:#927666;
    font-family:Gilda Display, Inter;
    font-size:24px

}

.buttons{
    display:flex;
    justify-content:center;
    gap:5rem;
    
}
button{
    background-color: rgba(76, 175, 80, 0.0);
    color: black;
    border: 2px solid #36261e;
    border-radius:15px;
    padding:12px;
    width:200px;
    cursor:pointer;
}
.container{
    display:flex;
}

.ig,
.twt,
.fb,
.ind{
    background:#36261e;
    color:#fbf6e5;
    width:80px;
    cursor:pointer;
    

}
.div-container{
    display:flex;
}

img{
    width:100%;
    height:100%;
    image-fit:cover
}

.image-container img {

    object-fit: fill;

}
button:hover{
    background-color:#36261e;
    color:#fbf6e5;

}

button,.ig:hover{
    background:#fbf6e5;
    color:#36261e;
}
button,.twt:hover{
    background:#fbf6e5;
    color:#36261e;
}
button,.fb:hover{
    background:#fbf6e5;
    color:#36261e;
}
button,.ind:hover{
    background:#fbf6e5;
    color:#36261e;
}

.image-container:hover{
    opacity: 0.7;
    cursor:pointer;
    transform: scale(1.33);
    backdrop-filter: blur(10px)
}


a{
    text-decoration: none; /* Remove underline */
    color: inherit; 
}

a:visited{
    
        text-decoration: none; /* Remove underline */
        color: inherit; 
    
}

a:link{

        text-decoration: none; /* Remove underline */
        color: inherit; 

}

a:active{
    
        text-decoration: none; /* Remove underline */
        color: inherit; 
    
}

.title{
    padding:12px
}